/* book image on top left side of welcome page */
#background-image-div {
  height: 550px;
  background-image: url(../../assets/images/welcome_book_background.jpg);
  background-repeat: no-repeat;
}

/* make row/col flush with left side of screen */

div.noPadding {
  padding-left: 0;
}

div.noMargin {
  margin-left: 0;
}

/* allow rows to be adjacent without margin space */

div.noBottomMargin {
  margin-bottom: 0;
}

div.noTopMargin {
  margin-top: 0;
}

/* Divider separating sections in Welcome component */

.welcome-divider {
  border: 8px solid #073b4c;
  width: 100%;
}

/* book cover images in second row */

.book-image {
  height: 200px;
}

/* shifting the about text content right */

.shift-right {
  color: #073b4c;
  font-size: 20px;
  padding-left: 20px;
}

/* image and text for Welcome testimonial  */

.testimonial-image {
  text-align: center;
  color: #073b4c;
  font-size: 25px;
}

.testimonial-text {
  color: #073b4c;
  padding-top: 15%;
  font-size: 20px;
}

.testimonial-small-text {
  font-size: 10px;
  margin-left: 10px;
}

/* for the right picture in last row */

.join-convo-picture {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 210px;
  height: 270px;
}

/* for the text for join conversation seciton */

.join-convo-text {
  margin-left: 5%;
  color: #073b4c;
  padding-top: 10%;
  float: right;
  font-size: 20px;
}

.join-convo-small-text {
}
