/* book image on top left side of welcome page */
#background-image-div {
  height: 550px;
  background-image: url(../../assets/images/welcome_book_background.jpg);
  background-repeat: no-repeat;
}

/* make row/col flush with left side of screen */

div.noPadding {
  padding-left: 0;
}

div.noMargin {
  margin-left: 0;
}

/* allow rows to be adjacent without margin space */

div.noBottomMargin {
  margin-bottom: 0;
}

div.noTopMargin {
  margin-top: 0;
}

/* Divider separating sections in Welcome component */

.welcome-divider {
  border: 8px solid #073b4c;
  width: 100%;
}

/* book cover images in second row */

.book-image {
  height: 200px;
}

/* shifting the about text content right */

.shift-right {
  padding-left: 20px;
}

/* image and text for Welcome testimonial  */

.testimonial-image {
  text-align: center;
  color: #073b4c;
}

.testimonial-text {
  color: #073b4c;
  padding-top: 15%;
}

.testimonial-small-text {
  font-size: 10px;
  margin-left: 10px;
}
