.categories-row {
  margin-left: 25px !important;
}

.category-label {
  font-size: 25px;
}

.category-label:hover {
  font-size: 35px;
}

.romance-image {
  margin-left: 15px;
}

.no-focus-outline:focus {
  outline: none;
}

.fantasy-image {
  margin-left: 10px;
}

.mystery-image {
  margin-left: 10px;
}

.literature-image {
  margin-left: 20px;
}
