.categories-row {
  margin-left: 25px !important;
}

.romance-image {
  margin-left: 15px;
}

.no-focus-outline:focus {
  outline: none !important;
  box-shadow: none !important;
}

.fantasy-image {
  margin-left: 10px;
}

.mystery-image {
  margin-left: 10px;
}

.literature-image {
  margin-left: 20px;
}

.col-text {
  font-size: 25px;
}

.col-text:hover {
  font-size: 35px;
}

.dropdown-toggle-category {
  background-color: white !important;
  border-style: none !important;
}

.all-label {
  margin-left: 25px;
}

.more-label {
  color: #073b4c;
  font-size: 25px;
}

.more-label:hover {
  cursor: pointer;
}
