.navbar {
    background-color: #073B4C !important;
}

.navbar .navbar-brand {
    color: #F3E9E0;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
}

.nav-link {

    color: #F3E9E0;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;

}

.navbar .navbar-brand:hover {
    color: #F3E9E0;
}

 
#chapter-title {
    margin: 25px;
}

#chapter-content {
    width: 100%;
    word-wrap: break-word;
} 