.navbar {
    background-color: #073B4C !important;
}

.navbar .navbar-brand {
    color: #F3E9E0;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
}

.nav-link {

    color: #F3E9E0;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;

}

.navbar .navbar-brand:hover {
    color: #F3E9E0;
}

.panel {
    position: relative;
    top: 50px;
    background-color: aquamarine;
    height: 80%;
    
}

.menu-label {
    margin-bottom: 10px;
    font-size: 16px;
}

.overlay-panel {
    overflow-y: hidden;
}

 
#chapter-title {
    margin: 25px;
}

#chapter-content {
    width: 100%;
    word-wrap: break-word;
} 